<div class="BlackBackground"></div>
<ease:message />
<div class="Center">
    <div class="Pad">

	    
	    <h3>{DeleteDoc}</h3>
	    <p>{DeleteDocDescription}</p>

            <ease:document />

	</form>
    </div>
</div>

<div class="Footer">
    <div class="Pad">
	<ease:footer />
    </div>
</div>