<ease:edit editopenwindow="true" editopenwindowwidth="350" editopenwindowheight="450" />
<div class="EASEFormCheckbox<?php if( $_EASEF<ease:parentid />->arrErrorFields['<ease:id />'] ) echo " EASEFormErrorRequired" ?>">
    <div class="EASEFormCheckboxTitle">
	<label><ease:fieldname /><ease:required /></label>
    </div>
    <div class="EASEFormCheckboxField">
	<ease:input />
    </div>
    <div class="Clear"></div>
</div>