<span class="EASEFormCheckboxFieldParts">
    <input type="checkbox" name="field<ease:id />-<ease:count />" id="field<ease:id />-<ease:count />" value="<ease:fieldvalue />" <ease:checked /> />
    <label for="field<ease:id />-<ease:count />"><ease:fieldvalue /></label>
</span>