<div class="Values">
		<h3>{Value}</h3>
		<input type="text" name="fieldvalue" value="<ease:fieldvalue />" />
		<a href="javascript:;" onclick="fctAddValue(this)" class="Add"><img src="basic/images/button-plus.gif" alt="{Add}" /></a>
		<a href="javascript:;" onclick="fctRemoveValue(this)" class="Remove"><img src="basic/images/button-minus.gif" alt="{Remove}" /></a>
		<div class="Clear"></div>
	    </div>