<ease:edit editopenwindow="true" editopenwindowwidth="350" editopenwindowheight="450" />
<div class="EASEFormInput<?php if( $_EASEF<ease:parentid />->arrErrorFields['<ease:id />'] ) echo " EASEFormErrorRequired" ?>">
    <div class="EASEFormInputTitle"><label for="field<ease:id />"><ease:fieldname /><ease:required /></label></div>
    <div class="EASEFormInputField"><input type="text" name="field<ease:id />" id="field<ease:id />" value="<ease:fieldvalue />" /></div>
    <div class="Clear"></div>
</div>