<span class="EASEFormRadioFieldParts">
    <input type="radio" name="field<ease:id />" id="field<ease:id />-<ease:count />" value="<ease:fieldvalue />" <ease:checked /> />
    <label for="field<ease:id />-<ease:count />"><ease:fieldvalue /></label>
</span>