<ease:edit editopenwindow="true" editopenwindowwidth="350" editopenwindowheight="450" />
<div class="EASEFormTextarea<?php if( $_EASEF<ease:parentid />->arrErrorFields['<ease:id />'] ) echo " EASEFormErrorRequired" ?>">
    <div class="EASEFormTextareaTitle"><label for="field<ease:id />"><ease:fieldname /><ease:required /></label></div>
    <div class="EASEFormTextareaField"><textarea name="field<ease:id />" id="field<ease:id />"><ease:fieldvalue /></textarea></div>
    <div class="Clear"></div>
</div>