<div class="Dialog MessageDialog">
    <div class="DialogTop">
	<div class="Pad">
	</div>
    </div>
    <div class="DialogFooter">
	<div class="Pad">
	    <div class="ButtonBlack">
		<div class="ButtonLeft"></div><div class="ButtonCenter"><a href="javascript:;" onclick="fctCloseMessage()">{Ok}</a></div><div class="ButtonRight"></div>
	    </div>
	</div>
    </div>
</div>