<div class="Image <ease:active />" id="Image-<ease:id />">
    <div class="Buttons">
	<div class="ButtonDelete"><a href="javascript:;" onclick="<ease:delete />" alt="{Delete}"></a></div>
	<div class="ButtonUse <ease:usehide />"><a href="javascript:;" onclick="<ease:onclick />" alt="{Use}"></a></div>
	<div class="ButtonEdit"><a href="javascript:;" onclick="<ease:edit />" alt="{Edit}"></a></div>
    </div>
    <div class="ButtonBigger" onclick="<ease:bigger />"><img src="<ease:src />" alt="" /></div>
</div>