<div class="Groups">
    <h2>{Groups}</h2>
    <div class="AddGroup"><span class="Table"><span class="TableCell">+</span></span></div>
    <div class="Content"></div>
</div>
<script type="text/javascript">
<?php 
    if( $_SESSION['easevars']['easeimage']['showgroups'] )
    {
	?>var boolShowGroups = true;<?php
    }
    else
    {
	?>var boolShowGroups = false;<?php
    }
?>
    var intGroup = '<?=$_SESSION['easevars']['easeimage']['group']?>';
</script>