<div class="BlackBackground"></div>
<ease:message />
<div class="Center">
    <div class="Pad">
	<h2>{Publish}</h2>
        <div class="LoadingBG"><div class="Loading"></div></div>
	<div class="Percent">0%</div>
    </div>
</div>

<div class="Footer">
    <div class="Pad">
	<ease:footer />
    </div>
</div>