<div class="Dialog PreviewDialog">
    <div class="Overlay"></div>
    <div class="DialogTop">
	<h1>{Preview}</h1>
	<span class="Preview"></span>
    </div>
    <div class="DialogFooter">
	<div class="Pad">
	    <div class="ButtonBlack">
		<div class="ButtonLeft"></div><div class="ButtonCenter"><a href="javascript:;" onclick="fctClosePreview()">{Close}</a></div><div class="ButtonRight"></div>
	    </div>
	</div>
    </div>
</div>