<div class="Center">
    <div class="CenterInner">
	<div id="easeLogin" style="width: 480px;height: 230px;">
	    <h1>{BrowserUpdate1}</h1>

	    <div class="Pad">
		<a href="http://browser-update.org/en/update.html" target="_blank"><img src="images/browser-icons.png" alt="{BrowserUpdate2}" /></a>
		<p>{BrowserUpdate2}</p>
	    </div>
	</div>
    </div>
</div>