<div class="Center">
    <div class="CenterInner">
	<div id="easeLogin">
	    <h1>Login</h1>

	    <div class="Pad">

		<form name="LoginForm" action="<ease:action />" method="post">

		    <span class="Error"><ease:errormessage /></span>

		    <span class="formName">Login:</span><input type="text" name="login" value="" />
		    <div class="clear"></div>

		    <span class="formName">{Password}:</span><input type="password" name="password" value="" />
		    <div class="clear"></div>

		    <div class="Footer">
			<div class="Pad">
			    <div class="Clear"></div>
			    <div class="ButtonBlack">
				<div class="ButtonLeft"></div><div class="ButtonCenter"><input type="submit" value="login" /></div><div class="ButtonRight"></div>
			    </div>
			    <div class="clear"></div>
			</div>
		    </div>

		</form>

	    </div>
	</div>
    </div>
</div>