<iframe name="easeMain" id="easeMain"></iframe>
<iframe name="easeExtensionPopup" id="easeExtensionPopup"></iframe>
<div id="easeExtensionPopupSizeBorder">
    <div class="ButtonMode">
	<a href="javascript:;" onclick="fctEaseCloseExtensionPopup()" class="ButtonClose" title="{Close}">{Close}</a>
    </div>
    <h1>&nbsp;</h1>
    <iframe name="easeExtensionPopupSize" id="easeExtensionPopupSize"></iframe>
</div>
<div class="easeLoading" id="easeLoading">
    <div class="Table">
	<div class="TableCell">
	    <img src="images/loading.gif" alt="" /><br />
	    {Loading}
	</div>
    </div>
</div>