<ul class="Menu">
    <ease:blockstart />
    <li><a href="<ease:href />" target="<ease:target />" class="<ease:active />" title="<ease:text />"><span class="MenuButton<ease:id />"><ease:text /></span></a></li>
    <ease:blockend />
</ul>