<div class="Search">
    <div class="Left"><input type="text" name="search" value="{Search}" onfocus="if(this.value=='{Search}')this.value=''" onblur="if(this.value=='')this.value='{Search}'" onclick="fctEaseSearchDoc()" onkeyup="fctEasePreSearch()" class="SearchInput" /></div>
    <div class="Right SearchButton" onclick="fctEaseSearchDoc()" title="{Search}"></div>
    <div class="clear"></div>
    <div class="Relative"><div class="List"></div></div>
</div>
