<div class="ButtonGroup">
    <span class="ButtonSpace"></span>
    <a href="javascript:;" onclick="fctEaseShowURL('parse.php?easedoc=back')" title="{Back}" class="ButtonBack">{Back}</a>
    <span class="ButtonSpace"></span>
    <a href="javascript:;" onclick="fctEaseShowURL('parse.php?easedoc=next')" title="{Next}" class="ButtonNext">{Next}</a>
    <span class="ButtonSpace"></span>
    <a href="javascript:;" onclick="fctEaseShowURL('parse.php?easedoc=new')" title="{New}" class="ButtonNew">{New}</a>
    <span class="ButtonSpace"></span>
    <a href="javascript:;" onclick="fctEaseShowURL('parse.php?easedoc=startpage')" title="{Start}" class="ButtonStart">{Start}</a>
    <span class="ButtonSpace"></span>
    <a href="javascript:;" onclick="fctEaseShowURL('parse.php')" title="{Reload}" class="ButtonReload">{Reload}</a>
    <span class="ButtonSpace"></span>
    <div class="clear"></div>
</div>