<div class="Item">
    <h2><ease:groupname /></h2>
    <ease:blockstart /><a href="<ease:href />" onclick="<ease:onclick />" target="<ease:target />" class="Button <ease:type /> <ease:active />" rel="<ease:rel />" rev="<ease:rev />" title="<ease:title />" ><span class="Relative"><span class="Icon"></span></span><span class="Text"><ease:text /></span></a><ease:blockend />
    <div class="clear"></div>
</div>