<div id="easeResetbox">
    <div id="easeToolbox" class="easeNormal">
	<div class="ButtonMode">
	    <a href="<ease:logout />" class="Buttonlogout" title="{Logout}">{Logout}</a>
	    <a href="javascript:;" onclick="fctToolbarNormal()" class="ButtonNormal" title="{Normal}">{Normal}</a>
	    <a href="javascript:;" onclick="fctToolbarMax()" class="ButtonMaximize" title="{Maximize}">{Maximize}</a>
	    <a href="javascript:;" onclick="fctToolbarMin()" class="ButtonMinimize" title="{Minimize}">{Minimize}</a>
            <a href="http://helpcenter.ease-cms.de" target="Blank" class="ButtonHelp" title="Helpcenter">Helpcenter</a>
	</div>
	<h1>{Toolbar}</h1>
	<div class="clear"></div>
	<ease:search />
	<div class="clear"></div>
	<ease:button />
	<div class="clear"></div>
	<ease:menu />
	<ease:item />
	<div class="clear"></div>
	<ease:action />
    </div>
</div>