<div class="Action">
    <div class="Pad">
	<ul>
	    <ease:blockstart />
	    <li class="<ease:liclass />"><a href="<ease:href />" target="<ease:target />" onclick="<ease:onclick />" class="<ease:aclass />" title="<ease:text />"><ease:text /></a></li>
	    <ease:blockend />
	</ul>
	<div class="clear"></div>
    </div>
</div>