<ease:edit edit="true" move="false" join="false" copy="false" delete="false" />
<div id="EASELinkEdit-<ease:id />" class="EASELinkEditDisplay">
    <div class="EASELinkEdit">

	<h1>{Target1}</h1>
	<p>{Target2}</p>
	<div class="EASELinkEditBlock">
	    <div class="EASELinkEditLeft"><a href="<ease:target />"><img src="basic/images/edit.png" alt="Ziel ausw&auml;hlen" /></a></div>
	    <div class="Clear"></div>
	</div>

	<div class="Clear"></div>

	<h1>{Content1}</h1>
	<p>{Content2}</p>

	<div class="Clear"></div>
    </div>
    <span class="EASELinkImage"><ease:imageedit extension="EASEImage" drop="false" /></span>
    <div class="EASELinkEdit">&nbsp;</div>
</div>
<div id="EASELinkNotEdit-<ease:id />">
    <ease:image />
</div>