.JCarouselEditDisplay {
    display: none;
}

.JCarouselEdit {
    background-color: #6c7176;
    border-radius: 4px;
    margin-bottom: 5px;
}

.JCarouselEdit form {
    margin: 0;
    padding: 0;
}

.JCarouselEdit input,
.JCarouselEdit select {
    width: 180px;
    height: 20px;
    border: 0;
    border-radius: 4px;
    color: #535353;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
}

.JCarouselEdit h1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    color: #4b4949;
    display: block;
    margin: 0 0 10px;
    padding: 0;
    background: url('basic/images/h1-bg.png') repeat-x left top #7c8287;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    -moz-box-shadow: 0 3px 4px #595d61;
    -webkit-box-shadow: 0 3px 4px #595d61;
    box-shadow: 0 3px 4px #595d61;
    -moz-text-shadow: 1px 1px 2px #cecece;
    -webkit-text-shadow: 1px 1px 2px #cecece;
    text-shadow: 1px 1px 2px #cecece;
}

.JCarouselEdit p {
    padding: 0;
    margin: 0 15px 10px;
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
    color: #fff;
}

.JCarouselEdit .Clear {
    clear: both;
    height:0;
    overflow: hidden;
}

.JCarouselEdit .JCarouselEditBlock {
    margin: 5px 10px 5px 15px;
    float: left;
    min-height: 30px;
}

.JCarouselEdit .JCarouselEditLeft {
    float: left;
    width: 120px;
    padding: 4px 0 0;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 120%;
    color: #fff;
}

.JCarouselEdit .JCarouselEditRight {
    float: left;
    width: 200px;
    padding: 0;
    margin: 0;
}