<ease:edit edit="false" />
<div class="ElementBlock-50-50">
    <div class="Element1"><ease:element1 width="48%" max_elements="1" /></div>
    <div class="ElementSpace"></div>
    <div class="Element2"><ease:element2 width="48%" max_elements="1" /></div>
    <div class="Clear"></div>
</div>