<ease:edit edit="false" />
<div class="ElementBlock-33-33-33">
    <div class="Element1"><div style="height: 50px; background-color: #cecece;"></div></div>
    <div class="ElementSpace"></div>
    <div class="Element2"><div style="height: 50px; background-color: #cecece;"></div></div>
    <div class="ElementSpace"></div>
    <div class="Element3"><div style="height: 50px; background-color: #cecece;"></div></div>
    <div class="Clear"></div>
</div>