<ease:edit edit="false" />
<div class="ElementBlock-33-33-33">
    <div class="Element1"><ease:element1 width="30%" max_elements="1" /></div>
    <div class="ElementSpace"></div>
    <div class="Element2"><ease:element2 width="30%" max_elements="1" /></div>
    <div class="ElementSpace"></div>
    <div class="Element3"><ease:element3 width="30%" max_elements="1" /></div>
    <div class="Clear"></div>
</div>