<ease:edit edit="false" move="false" copy="false" join="false" delete="false" />
<header>
    HEADER
    <ease:navigation drop="false" extension="Web" param_name="layout" param_value="menu" />
</header>