<meta name="robots" content="all" />
<meta name="viewport" content="width=960" />
<meta name="revisit-after" content="5 Days" />
<meta name="author" content="" />
<link rel="shortcut icon" href="/extensions/web/basic/images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/extensions/web/basic/images/favicon.ico" type="image/x-icon" />