<ease:edit edit="false" move="false" copy="false" join="false" />

<ease:header include="true" drop="false" extension="Web" param_name="layout" param_value="header" />

<section class="Body">
    <ease:content width="960" />
</section>

<ease:footer include="true" drop="false" extension="Web" param_name="layout" param_value="footer" />

<ease:googleanalytics include="true" mode="generate" drop="false" extension="Web" param_name="layout" param_value="google-analytics" />