<div class="BlackBackground"></div>
<ease:message />
<div class="Top">
    <div class="TopButtons ButtonBlack">
	    <div class="ButtonLeft"></div><div class="ButtonCenter"><a href="javascript:;" onclick="fctGetUserList('');fctShowUser('')" class="Button"><span class="ButtonText">{New}</span></a></div><div class="ButtonRight"></div>
    </div>
</div>
<div class="Center">
    <div class="Pad">	

	<div class="Left">
	    <div class="Pad"></div>
	</div>
	<div class="Right">
	    <div class="Pad"></div>
	</div>
    </div>
</div>

<div class="Footer">
    <div class="Pad">
	<ease:footer />
    </div>
</div>