<div class="Dialog MessageDialog">
    <div class="DialogTop">
	<div class="Pad">
	</div>
    </div>
    <div class="DialogFooter">
	<a href="javascript:;" onclick="fctCloseMessage()" class="Button"><span class="ButtonText">Ok</span></a>
    </div>
</div>