<div class="EASENewsOverviewPart">
    <div class="EASENewsOverviewPartImage"><a href="<ease:detailurl />"><ease:image width="100" height="100" drop="false" /></a></div>
    <div class="EASENewsOverviewPartText">
	<a href="<ease:detailurl />"><ease:headline drop="false" /></a>
	<ease:text drop="false" />
	<p><ease:detaillink /></p>
    </div>
    <div class="Clear"></div>
</div>
<hr />