<ease:edit edit="false" move="false" join="false" copy="false" delete="true" />
<div class="EASENewsOverviewPart">
    <div class="EASENewsOverviewPartImage"><ease:image width="150" height="100" drop="false" /></div>
    <div class="EASENewsOverviewPartText">
	<ease:headline drop="false" />
	<ease:text drop="false" />
	<p><ease:detaillink /></p>
    </div>
    <div class="Clear"></div>
</div>
<hr />