<div class="BlackBackground"></div>
<ease:message />
<div class="Center">
    <div class="Pad">
	<a href="javascript:;" onclick="fctUpdate()">UPDATE</a>
    </div>
</div>

<div class="Footer">
    <div class="Pad">
	<ease:footer />
    </div>
</div>